{
  "settings": {
    "hostname": "espdash",
    "wifi_ssid": "SSID",
    "wifi_password": "Password",
    "theme": "dark",
    "scroll_idle": 0,
    "scroll_speed": 2,
    "rotation": 90,
    "brightness": 100
  },
  "widgets": [
    {
      "id": "weather",
      "title": "Weather",
      "icon": "home",
      "url": "https://api.open-meteo.com/v1/forecast?latitude=38.895&longitude=77.036&current=temperature_2m,rain,relative_humidity_2m&wind_speed_unit=mph&temperature_unit=fahrenheit&precipitation_unit=inch",
      "method": "GET",
      "headerKey": "",
      "headerValue": "",
      "payload": "",
      "refresh": 300,
      "width": "full",
      "title_font_size": 16,
      "font_size": 14,
      "height": 0,
      "body": "In Washington, DC, it is {current.temperature_2m | 0}°F and {current.relative_humidity_2m}% humid.\nThere's currently {current.rain | 1}\" of rain.",
      "btn1_label": "",
      "btn1_url": "",
      "btn1_method": "GET",
      "btn1_headerKey": "",
      "btn1_headerValue": "",
      "btn1_payload": "",
      "btn2_label": "",
      "btn2_url": "",
      "btn2_method": "GET",
      "btn2_headerKey": "",
      "btn2_headerValue": "",
      "btn2_payload": ""
    },
    {
      "id": "pihole",
      "title": "Pihole DNS status",
      "icon": "wifi",
      "url": "http://pi.hole/api/dns/blocking",
      "method": "GET",
      "headerKey": "",
      "headerValue": "",
      "payload": "",
      "refresh": 60,
      "width": "full",
      "title_font_size": 16,
      "font_size": 14,
      "height": 0,
      "body": "DNS blocking: {blocking}",
      "btn1_label": "Enable",
      "btn1_url": "http://pi.hole/api/dns/blocking",
      "btn1_method": "POST",
      "btn1_headerKey": "",
      "btn1_headerValue": "",
      "btn1_payload": "{\n  \"blocking\": true,\n  \"timer\": null\n}",
      "btn2_label": "Disable",
      "btn2_url": "http://pi.hole/api/dns/blocking",
      "btn2_method": "POST",
      "btn2_headerKey": "",
      "btn2_headerValue": "",
      "btn2_payload": "{\n  \"blocking\": false,\n  \"timer\": null\n}"
    },
    {
      "id": "octostatus",
      "title": "Octoprint Status",
      "icon": "usb",
      "url": "https://octopi.local/api/job",
      "method": "GET",
      "headerKey": "X-Api-Key",
      "headerValue": "api-key-here",
      "payload": "",
      "refresh": 60,
      "width": "full",
      "title_font_size": 16,
      "font_size": 14,
      "height": 0,
      "body": "Status: {state}\nProgress: {progress.completion | 0 ?? 0}%",
      "btn1_label": "Pause/Resume",
      "btn1_url": "https://octopi.local/api/job",
      "btn1_method": "POST",
      "btn1_headerKey": "X-Api-Key",
      "btn1_headerValue": "api-key-here",
      "btn1_payload": "{\n  \"command\": \"pause\",\n  \"action\": \"toggle\"\n}",
      "btn2_label": "Cancel Job",
      "btn2_url": "https://octopi.local/api/job",
      "btn2_method": "POST",
      "btn2_headerKey": "X-Api-Key",
      "btn2_headerValue": "api-key-here",
      "btn2_payload": "{\n  \"command\": \"cancel\"\n}"
    },
    {
      "id": "buttons",
      "title": "Control buttons",
      "icon": "charge",
      "url": "",
      "method": "GET",
      "headerKey": "",
      "headerValue": "",
      "payload": "",
      "refresh": 0,
      "width": "full",
      "title_font_size": 20,
      "font_size": 12,
      "height": 0,
      "body": "",
      "btn1_label": "Button 1",
      "btn1_url": "",
      "btn1_method": "GET",
      "btn1_headerKey": "",
      "btn1_headerValue": "",
      "btn1_payload": "",
      "btn2_label": "Button 2",
      "btn2_url": "",
      "btn2_method": "GET",
      "btn2_headerKey": "",
      "btn2_headerValue": "",
      "btn2_payload": ""
    }
  ]
}